:root {
  --primaryColor: #ed0661;

  --codeColor: #c8f0fd;
  --warningColor: #f9e9db;
  --infoColor: #dbf9eb;
  --questionColor: #e7d3f5;
  --successColor: #38c138;

  --white: #ffffff;
  --black: #222222;
}
