.chapter {
  margin: 30px 0 50px;
  align-items: center;

  @include medium {
    display: flex;
  }
}

.chapter__infos {
  max-width: 60ch;
}

.chapter__title {
  font-size: 32px;
  color: var(--primaryColor);

  &:hover {
    text-decoration: underline;
  }
}

.chapter__description {
  margin: 10px 0;
}

.chapter__progression,
.chapter__correction {
  display: inline-block;
  margin-right: 10px;
}

.chapter__progression {
  opacity: 0.7;
  margin-bottom: 10px;

  .chapter--done & {
    opacity: 1;
    color: var(--successColorDark);
  }
}

.chapter__correction {
  background-color: var(--successColorLight);
  border-radius: 5px;
  padding: 5px;
  color: var(--successColorDark);

  &:hover {
    text-decoration: underline;
  }
}

.chapter__links {
  margin-left: auto;
  display: flex;

  @include medium {
    padding-left: 30px;
  }
}

.chapter__link {
  font-size: 64px;
  color: var(--primaryColor);
  opacity: 0.8;
  transition: opacity 0.3s, transform 0.3s;
  will-change: opacity, transform;

  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.chapter__link--exercises {
  position: relative;
  top: 4px;
  font-size: 56px;
}
