.concept {
  margin: 30px 0;
}

.concept__header {
  position: relative;
}

.concept__content {
  display: none;

  .concept--open & {
    display: block;
    margin-bottom: 70px;
  }
}

.concept__presentation {
  @include large {
    display: flex;
    align-items: flex-end;
  }
}

.concept__theory {
  margin-bottom: 15px;

  @include large {
    margin-right: 30px;
    margin-bottom: 0;
    flex: 3;
  }
}

.concept__aside {
  @include large {
    flex: 2;
  }
}
