.concept {
  margin: 30px 0;
}

.concept__content {
  height: 0;
  overflow: hidden;

  .concept--open & {
    height: auto;
    overflow: visible;
    margin-bottom: 70px;
  }
}

.concept__presentation {
  @include medium {
    display: flex;
    align-items: flex-end;
  }
}

.concept__theory {
  margin-bottom: 15px;
  flex: 3;

  @include medium {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.concept__aside {
  // opacity: 0;

  @include medium {
    flex: 2;
  }
}
