.header {
  position: relative;
  background: var(--primaryColor);
  color: var(--primaryColorText);

  @include medium {
    display: flex;
    align-items: baseline;
  }
}

.header__chapterInfos {
  margin-bottom: 15px;

  @include medium {
    display: inline;
  }
}

.header__title {
  margin-right: 15px;
  font-size: 60px;

  @include medium {
    font-size: 80px;
  }
}

.header__chapterNumber {
  font-family: var(--sansSerifFont);
  opacity: 0.7;
}

.header__chapterNumber,
.header__chapterTitle {
  font-size: 30px;
  display: inline-block;
}

.header__slides {
  display: inline-block;
  margin-left: auto;
  margin-bottom: 15px;
  font-size: 42px;
  opacity: 0.8;
  transition: opacity 0.3s, transform 0.3s;
  will-change: opacity, transform;

  @include medium {
    position: relative;
    font-size: 64px;
    top: 10px;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}
