* {
  box-sizing: border-box;
}

.page {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: var(--gridColumnGap);
  grid-row-gap: 30px;
  height: 100%;

  &::before,
  &::after {
    content: '';
    background-color: var(--primaryColor);
    grid-row: 1;
    width: calc(100% + var(--gridColumnGap));
  }

  &::before {
    grid-column: 1;
  }

  &::after {
    grid-row: 1;
    position: relative;
    left: calc(var(--gridColumnGap) * -1);
  }

  @include medium {
    --gridColumnGap: 30px;
  }
}

.header,
.main {
  grid-column: 2;
}

.header {
  grid-row: 1;
}

.main {
  grid-row: 2;
}

.footer {
  grid-row: 3;
  grid-column: 1 / span 3;
}

img {
  max-width: 100%;
}
